<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col formContainer">
                {{#unless data}}
                <div class="card mb-1 bg-info mt-3">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="text-white text-md">No Completed Task has been found</h4>
                        </div>
                    </div>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {{#data}}
                <div class="card mb-1" id="{{_id}}" value="{{_id}}">
                    <div class="card-footer card-comments">
                        <div class="card-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="/img/photo4.jpg" name="delete" alt="User Image"
                                value="{{_id}}" id='{{_id}}' title="Delete">
                            <div class="comment-text">
                                <span class="username">
                                    {{titles}}
                                    <span class="text-muted float-right"><span class="nav-icon fa fa-clock">
                                        </span> {{prettifyDate updated}}</span>
                                </span><!-- /.username -->
                                {{notes}}
                            </div>
                            <!-- /.comment-text -->
                            <div class="card-body">
                                <button type="button" class="btn btn-default btn-sm delete" onclick="" name="delete"
                                    value='{{_id}}' id='{{_id}}'>
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/data}}
            </div>
        </div>
    </div>
</div>