<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <h1 class="d-flex justify-content-center mt-2">{{head}} </h1>
            <p class="load d-flex justify-content-center"> Welcome to {{title}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-12">

            <div class="form-group">
                <a class="btn btn-light" type="button" href="/add-schedule">Add Schedule <span class="fa fa-plus"></span> </a>
            </div>

            {{#data}}
                <div class="card mb-1 {{_id}}" id="{{_id}}">
                    <div class="card-body">
                        {{message}}
                        <div class="row">
                            <div class="col-2">
                                <a type="button" class="mt-3"><span class="fa fa-times mt-3"></span> </a>
                            </div>
                            <div class="col-8">
                                <h3 class="">{{titles}}</h3>
                                    <p class="">{{notes}}</p>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <input type="radio" class="form-control mt-3 radio" name="titles" value="{{_id}}" id='{{_id}}'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/data}}

        </div>
    </div>
</div>

