<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-12">
                {{#unless data}}
                <div class="card mb-1 mt-3 bg-info">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="text-white text-center text-md">No Padding Task has been found</h4>
                        </div>
                    </div>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {{#data}}
                <div class="card {{_id}}" id="{{_id}}">
                    <div class="card-footer card-comments">
                        <div class="card-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="/img/avatar.png" alt="User Image">
                            <!--input type="radio" class="img-sm update radio" name="titles" value='{{_id}}' id='{{_id}}' title="Updates"-->
                            <div class="comment-text">
                                <span class="username">
                                    {{titles}}
                                    <span class="text-muted float-right"><span class="nav-icon fa fa-clock"></span>
                                        {{prettifyDate created}} </span>
                                </span><!-- /.username -->
                                {{notes}}
                            </div>
                            <!-- /.comment-text -->
                            <div class="card-body">
                                <button type="button" class="btn btn-default btn-sm edit" name="edit" value='{{_id}}'
                                    id='{{_id}}' onclick="mt">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                {{/data}}


            </div>
        </div>
    </div>
</div>